<div class="main_container">
  <div class="main_content">
    <div class="header_container">
      <div class="header_content">
        <img class="logo " src="assets/spacebox.png" alt="space box logo">
        <div class="botoes">
          <div class="botao">EMPRESA</div>
          <div class="botao">SERVIÇO</div>
          <div class="botao">CONTATO</div>
        </div>
      </div>
    </div>
    <div class="card_selected_container">
      <div class="card_selected_content">
        <div class="img_container" [ngStyle]="{'background-image':'url('+ 'assets/users/' + selected.foto+')'}">

        </div>
        <div class="selected_info">
          <div class="selected_info_item">
            <div class="subtitle">NOME: </div>
            <div class="value"> {{selected.nome}}</div>
          </div>
          <br>
          <div class="selected_info_item">
            <div class="subtitle">CARGO: </div>
            <div class="value"> {{selected.cargo}}</div>
          </div>
          <br>
          <div class="selected_info_item">
            <div class="subtitle">IDADE: </div>
            <div class="value"> {{selected.idade}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards_container  ">
      <div class="cards_content ">
        <div *ngFor="let user of dados">
          <div (click)="selected = user" class="card " [ngClass]="{'selected': user.id === selected.id }">
            <div class="img_container" [ngStyle]="{'background-image':'url('+ 'assets/users/' + user.foto+')'}">
              <div class="elipse">
                {{user.id}}
              </div>
            </div>

            <div class="text-container">
              <div class="title " [ngClass]="{'selected': user.id === selected.id }">
                {{user.nome}}
              </div>
              <div class="description " [ngClass]="{'selected': user.id === selected.id }">
                {{user.cargo}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
